* {
    background-color: rgb(17 24 39); 
}

h1,h2,h3,li {
    font-family: Helvetica, sans-serif;
}

h1 {

    color:rgb(255, 81, 191);
    font-size: 90px
}

h2{
    color:palegreen;
    font-size: 20px
}

h3{
    color:orange;
    font-size: 36px
}

li {
    color: rgb(144, 15, 15);
    font-size: 24px
}

.link {
    color: whitesmoke
}

